.todoListComponent{
    display: flex;
    flex-direction: column;
    gap: 2.7rem;

    &__singleTodo{
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
    }

    &__checkbox{
        display: inline-block;
        width: 2.7rem;
        height: 2.7rem;
        border: 1px solid #828282;
        border-radius: 4px;
        i{
            color: #FFF;
        }
    }

    &__checkbox--checked{
        display: inline-block;
        width: 2.7rem;
        height: 2.7rem;

        background: #2F80ED;
        color: #FFF;

        border: 1px solid #2F80ED;
        border-radius: 4px;
        i{
            color: #FFF;
        }
    }



    &__todo{
        margin-left: .7rem;
        padding-right: 1.3rem;
        height: fit-content;
        max-width: 55.5rem;
        word-wrap: break-word;        
        &--complete{

            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-decoration-line: line-through;

            color: #333333;
            

        }

        &--incomplete{
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__singleTodo__deleteTodo{
        position: absolute;
        right: 0rem;
        color: #BDBDBD;
        cursor: pointer;
    }

    &__buttonDeleteAll{
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        padding: 0 0 0 2.8rem;
        width: 12.4rem;
        height: 4rem;
    
        background: #EB5757;
        border-radius: 4px;

        font-weight: 600;
        font-size: 12px;
        line-height: 15px;

        color: #FFFFFF;

        i{
            font-size: 12px;
        }
    }
}